<!DOCTYPE html>
<html>
  <head>
    <title>Login and Registration</title>
    
  </head>
    <body>
    <div id="wrapper">
       
        <h1> Register Here</h1>

        {% if messages %}
          {% for message in messages %}
           <p>{{ message }} </p>
          {% endfor %}
        {% endif %}
        
        <form action='/create_user' method='POST'>
         {% csrf_token %}

          <p><label for="first_name">First Name</label>
          <input class="person" type='text' name='first_name' value= ''></p>

          <p><label for="last_name">Last Name</label>
          <input class="person" type='text' name='last_name' value= ''></p>

          <p><label for="Email">Email</label>
          <input class="person" type='text' name='email' value= ''></p>

          <p><label for="password">Password</label>
          <input class="person" type='text' name='password' value= ''></p>

          <p><label for="confirm_password">Confirm Password</label>
          <input class="person" type='text' name='confirm_password' value= ''></p>

          <input type="submit" value="Create User!">

         </form>
         
         <p></p>


        <h1>Already Registrered? Log in below</h1>
        <form action='/check_password' method='POST'>
        {% csrf_token %}

          <p><label for="Email">Email</label>
          <input class="person" type='text' name='email' value= ''></p>

          <p><label for="password">Password</label>
          <input class="person" type='text' name='password' value= ''></p>

        
        <input type="submit" value="Login">


      </div> <!-- END OF WRAPPER DIV                                  -->
  </body>
</html>
