<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>confirm delete</h1>
<div>
        
        <form action="{% url 'users:confirm_remove'  %}" method='POST'>
         {% csrf_token %}

          <input class="person" type='hidden' name='user_id' value= '{{user.id}}'></p>
          <p><label for="first_name">First Name</label>
          <input class="person" type='text' name='first_name' value= '{{user.first_name}}'></p>

          <p><label for="last_name">Last Name</label>
          <input class="person" type='text' name='last_name' value= '{{user.last_name}}'></p>

          <p><label for="Email">Email</label>
          <input class="person" type='text' name='email' value= '{{ user.email }}'></p>
          
          <input type="submit" value="Delete?">

          </form>
          </div>


</body>
</html>