<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h2>Test App</h2>
<p><a href = ""> Dashboard</a></p>
<p><a href =  "{% url 'comment_app:edit' %}"> Profile</a></p>
<p><a href = "{% url 'user_app:clear' %}"> Log Off</a></p>

	<h1>Users</h1>


       <div id='course_info'>
            <table>
                <tr>
                  <th> ID</th>
                  <th> Name</th>
                  <th>Email</th>
                  <th>Date Added</th>
                  <th>User level</th>
                  
                </tr>
                
            {% for user in users %}
              <!--<a href="/friends/{{ user.id }}"> Goto person's homepage</a>-->
              	<tr>
                  <td>{{ user.id}}</td>
                  <td><a href="{% url 'comment_app:show' user.id %}">{{ user.first_name}} {{user.last_name}}</a></td>
                  <td>{{ user.email}}</td>
                  <td> {{ user.created_at }} </td>
                  <td> {{ user.user_level }} </td>
                   
                </tr>
            {% endfor %}
			
			</table>
            </div>

</body>
</html>