<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id= "wrapper">

	<div>
 	<h1>Welcome to the Test</h1>
 	<p>We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>

 	<p><a href = "{% url 'userdash:signin' %}"> Start </a></p>
 	</div>

 	<div>
 		<h2>Manage Users</h2>
 		<p> Using this application, you'll learn how to add, remove, and edit users for the application.</p>
 	</div>
 	<div>
 		<h2>Leave Messages</h2>
 		<p>  Users will be able toleave a message to another user using this appliation</p>
 	</div>

 	<div>
 		<h2>Edit user information</h2>
 		<p> Admins will be able to edit another user's information (email address, first name, last name, etc)</p>
 	</div>

 </div>

</body>
</html>