<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id= "wrapper">

		{% if messages %}
          {% for message in messages %}
           <p>{{ message }} </p>
          {% endfor %}
        {% endif %}

	<h1>Sign In</h1>
        <form action="{% url 'userdash:login'%}" method='POST'>
        {% csrf_token %}

          <input class="person" type='hidden' name='user_id' value= ''></p>

          <p><label for="Email">Email</label>
          <input class="person" type='text' name='email' value= 'abc@abc.com'></p>

          <p><label for="password">Password</label>
          <input class="person" type='text' name='password' value= '1'></p>

        
        <input type="submit" value="Sign In">

        <p><a href = "{% url 'userdash:register' %}"> Don't have an account? Click here to register</a></p>

 </div>

</body>
</html>